<md-toolbar color="primary">
  <button class="app-icon-button" (click)="sidenav.toggle()">
    <i class="material-icons app-toolbar-menu">menu</i>
  </button>

  
  {{title}}

  <span class="app-toolbar-filler"></span>
  <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
</md-toolbar>
<div class="app-content">
  <incorrect-guesses [incorrectGuesses]="hangmanGameState.incorrectGuesses"
    [incorrectGuessCount]="hangmanGameState.incorrectGuessCount"></incorrect-guesses>
  <hidden-word [word]="hangmanGameState.hiddenWord"></hidden-word>
  <letter-guess [guesses]="hangmanGameState.guesses" (makeGuessEvent)="handleHangmanGameStateUpdateEvent($event)" ></letter-guess>
</div>
